<mat-card *ngFor="let doctor of page?.content">
    <div flexLayout="row">
        <div flexLayout="column" fxFlex>
            <mat-card-title>{{doctor.name}}</mat-card-title>
            <mat-card-subtitle>{{doctor.specialization}}</mat-card-subtitle>
            <div flexLayout="row">
                <img src="../../../assets/doctor.jpeg" mat-card-lg-image class="doctorImage">
                <mat-card-content fxFlex class="doctorContent">{{doctor.description}}</mat-card-content>
            </div>
        </div>
        <div>
            <div class="doctorPrice">{{doctor.price}} </div>
        </div>
    </div>
    <mat-card-actions align="end" fxLayoutGap="10">
        <button mat-flat-button color="primary">View</button>
    </mat-card-actions>
</mat-card>
<mat-paginator *ngIf="page && page.totalElements > 0"
  [length]="page.totalElements"
   [pageSize]="10"
   [pageSizeOptions]="[10, 25, 50, 100]"
   aria-label="Wybierz stronę"
   (page)="onPageEvent($event)">
</mat-paginator>
