@import '../../variables.scss';
:host{
    display: flex;
    flex-direction: column;
}
.doctorImage{
    margin-right: 10px;
}
.doctorPrice{
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}
.doctorContent{
    font-size: 18px;
}
mat-card{
    margin-bottom: 25px;
}
