<h1>Specialization:{{specializationDoctors && specializationDoctors.specialization && specializationDoctors.specialization.name}}</h1>
<mat-card *ngFor="let doctor of specializationDoctors?.doctors?.content">
  <div flexLayout="row">
      <div flexLayout="column" fxFlex>
          <mat-card-title><a routerLink="{{'/doctors/' + doctor.id}}">{{doctor.name}}</a></mat-card-title>
          <mat-card-subtitle>{{doctor.specialization}}</mat-card-subtitle>
          <div flexLayout="row">
              <a routerLink="{{'/doctors/' + doctor.id}}">
                  <img *ngIf="!doctor?.image" src="../../../assets/doctor.jpeg" mat-card-lg-image class="productImage">
                  <img *ngIf="doctor?.image" src="{{'/api/data/productImage/'+ doctor?.image}}" mat-card-lg-image class="productImage">
              </a>
              <mat-card-content fxFlex class="productContent">{{doctor.description}}</mat-card-content>
          </div>
      </div>
      <div>
          <div class="productPrice">{{doctor.price}}</div>
      </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
      <button mat-flat-button color="primary" routerLink="{{'/doctors/' + doctor.id}}">View</button>
  </mat-card-actions>
</mat-card>


<mat-paginator *ngIf="specializationDoctors?.doctors && specializationDoctors.doctors.totalElements > 0"
  [length]="specializationDoctors.doctors.totalElements"
   [pageSize]="10"
   [pageSizeOptions]="[10, 25, 50, 100]"
   aria-label="Choose a side"
   (page)="onPageChange($event)">
</mat-paginator>
