<mat-card *ngFor="let doctor of specializationDoctors?.doctor?.content">
  <div flexLayout="row">
      <div flexLayout="column" fxFlex>
          <mat-card-title><a routerLink="{{'/products/' + doctor.details}}">{{doctor.name}}</a></mat-card-title>
          <mat-card-subtitle>{{doctor.specialization}}</mat-card-subtitle>
          <div flexLayout="row">
              <a routerLink="{{'/products/' + doctor.details}}">
                  <img *ngIf="!doctor?.image" src="/assets/image-placeholder.png" mat-card-lg-image class="productImage">
                  <img *ngIf="doctor?.image" src="{{'/api/data/productImage/'+ doctor?.image}}" mat-card-lg-image class="productImage">
              </a>
              <mat-card-content fxFlex class="productContent">{{doctor.description}}</mat-card-content>
          </div>
      </div>
      <div>
          <div class="productPrice">{{doctor.price}}</div>
      </div>
  </div>
  <mat-card-actions align="end" fxLayoutGap="10">
      <button mat-flat-button color="accent" routerLink="{{'/doctors/' + doctor.details}}">View</button>
  </mat-card-actions>
</mat-card>
