<h1>Edit Visit </h1>
<div>
    <h2>Order details</h2>
    id: {{visit && visit.id}}
    <br /><br />
    Order number: {{visit && visit.placeDate | date : 'yyyy-MM-dd HH:mm'}}<br />
    Płatność: {{visit && visit.payment.name}}<br /><br />

    <!-- <form [formGroup]="formGroup" fxLayaout="row" fxLayoutAlign="space-between start" (submit)="changeStatus()">
      <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="orderStatus">
              <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.key">{{status.value}}</mat-option>
          </mat-select>
      </mat-form-field>
      <button mat-flat-button color="primary">Save</button>
  </form> -->
</div>
<div>
    <div fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-hcol-1">
            Name
        </div>
        <!-- <div class="order-hcol-2">Term</div> -->
        <!-- <div class="order-hcol-3">Value</div> -->
    </div>
    <div *ngFor="let row of visit?.visitRows" fxLayaout="row" fxLayoutAlign="space-between start">
        <div class="order-col-1">
            <span>{{row.adminVisitDoctor.name}}</span>
        </div>
    </div>
    <div>Term: </div>
    <div>
        <p>Value: {{visit && visit.grossValue}}</p>
    </div>
</div>
<div>
    <h2>Customer data</h2>
    <div>Fist Name: {{visit && visit.firstname}}</div>
    <div>Last Name: {{visit && visit.lastname}}</div>
    <div>Street: {{visit && visit.street}}</div>
    <div>Zip Code: {{visit && visit.zipcode}}</div>
    <div>City: {{visit && visit.city}}</div>
    <div>Email: {{visit && visit.email}}</div>
    <div>Phone: {{visit && visit.phone}}</div>
</div>
